{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}" >
    <title>Document</title>
</head>
<body>
    <a href="logout">Logout</a>
    <div class="person-container">
        <div class="person">
          <img style="height: 173px; width: 173px;" src="{{pat.profile.url}}" alt="loading">
        <div class="person-details">
            <h1>Patient dashboard</h1>
            <p>UserName : {{pat.username}}</p>
            <p> Name :  {{pat.first_name}} {{pat.last_name}}</p>
            <p> Enail :{{pat.email}}</p>
            <p>Designation : {{pat.user_type}}</p><br>
            <h3>Address</h3>
            <p>line : {{pat.line}}</p>
            <p>City:{{pat.city}}</p>
            <p>State:{{pat.state}}</p>
            <p>pincode:{{pat.pincode}}</p>
        </div>
      </div>
  </div>

</body>
</html>